:root{
  --gray-70: rgba(0,0,0,0.7);
  --gray-50: rgba(0,0,0,0.5);
  --gray-20: rgba(0,0,0,0.2);
  --gray-10: rgba(0,0,0,0.1);
  --gray-5:  rgba(0,0,0,0.05);
}
* {
  font-family: 'Roboto';
}
input {
  background-color: var(--gray-5);
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}
button {
  background-color: black;
  color: white;
  font-size: 1rem;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
::placeholder {
  color: var(--gray-70);
  font-size: 1rem;
  opacity: 1;
}

h1 {
  font-size: 2rem;
  color: black;
  font-weight: 700;
}
h3 {
  font-size: 1.5rem;
  color: var(--gray-50);
  font-weight: 700;
}
h4 {
  font-size: 1.5rem;
  color: var(--gray-50);
  font-weight: 500;
}
.gray-70 {
  color: var(--gray-70);
}
.gray-50 {
  color: var(--gray-50);
}
.muted-text {
  color: var(--gray-70);
  font-size: 0.75rem;
}
.error {
  color: #FF1515;
  transition-duration: 500ms;
}